@media (max-width: 724px) {
  .navbar {
    height: 65px;
    max-width: 100%;
  }

  .dot-menu {
    display: block;
    color: #ffffff;
    margin-left: -30px;
    margin-bottom: 5px;
  }


  .logo-image {
    height: 30px;
    width: 120px;
    margin-left: 0px;
  }

  .nav-links {
    display: none;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-left: auto;
  }

  .google-login-button {
    display: none;
  }

  .start-free-button {
    height: 30px;
    width: 120px;
    gap: 5px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    margin-left: 30px;
    font-weight: 549;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .arrow-icon-container {
    padding: 4px;
    margin-left: 0.5px;
  }

  .arrow-icon {
    width: 8px;
    height: 8px;
  }


  .hero-1 {
    margin-top: 80px;
  }

  .heading-1 {
    height: 50px;
    width: 280px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 575;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }

  .heading-2 {
    height: 50.44px;
    width: 290px;
    color: #FFFFFF;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    z-index: 100;
  }

  .para-1 {
    height: 42px;
    width: 350px;
    font-size: 14px;
    margin-left: 30px;
  }

  .para-2 {
    height: 48px;
    width: 350px;
    font-size: 14px;
    margin-left: 40px;
  }

  .start-free-button-2 {
    height: 40px;
    width: 150.33px;
    margin-right: 20px;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .arrow-icon-container-2 {
    height: 28px;
    width: 28px;
    margin-left: 0;
  }

  .book-demo-button {
    height: 40px;
    width: 135.22px;
    font-size: 15px;
  }


  .video-container {
    width: 340.4px;
    height: 400.6px;
    margin-top: -30px;
    border-radius: 15px;
  }

  .video {
    width: 340.4px;
    height: 400.6px;
  }

  .trusted-section {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .trusted-text {
    max-width: 150px;
    padding-right: 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-right: 0px;
  }


  .logos-wrapper {
    max-width: 250px;
  }


  .backed-section {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .backed-text {
    max-width: 150px;
    padding-right: 0;
    text-align: center;
    font-size: 14px;
    margin-left: 50px;
  }

  .logos-wrapper-2 {
    max-width: 250px;
  }

  .use-case-h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 549;
    margin-bottom: -10px;
  }


  .button-group {
    width: 367px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .container {
    width: 370.47px;
    height: 585px;
    margin: 0 auto;
  }

  .section-header {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
  }

  .input-box {
    width: 340px;
    background: linear-gradient(to bottom, #0A0807, #110F0E);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 9999px;
    padding: 0.75rem 1.25rem;
    margin-left: -10px;
  }

  .input-box p {
    font-size: 14px;
  }


  .table {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }


  .table-cell {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 11px;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 39px;
    width: 340.66px;
  }

  .table-head .table-cell:nth-child(2),
  .table-head .table-cell:nth-child(3),
  .table-row .table-cell:nth-child(2),
  .table-row .table-cell:nth-child(3) {
    display: none;
  }

  .table-off-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
  }

  .table-off-content p {
    height: 100.75px;
    width: 350.47px;
    color: #d1d5db;
    font-size: 14px;
    line-height: 1.7;
    overflow-y: hidden;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .try-chatsheet-button {
    height: 40px;
    width: 197px;
  }

  .reason-h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .reason-h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
  }

  .automate-task {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/automate-any-task-2x.C_u6705b.png");
    background-position: 50% 90%;
    background-size: 340px;
  }

  .automate-task-div {
    height: 178px;
    width: 310px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .automate-task-div p {
    font-size: 15px;
  }

  .automate-task-div .start-free-button-2 {
    margin-top: 15px;
    margin-left: -5px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .no-code-action-cell {
    display: flex;
    flex-direction: column;
  }

  .no-code {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/no-code.C9tM_yVm.png");
    background-position: 50% 80%;
    background-size: 340px;
  }

  .no-code-div {
    height: 178px;
    width: 310px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .no-code-div p {
    font-size: 15px;
  }

  .action-cell {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/action-cells.BSY4HM70.png");
    background-position: 50% 70%;
    background-size: 340px;
  }

  .action-cell-div {
    height: 178px;
    width: 290px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .action-cell-div p {
    font-size: 15px;
  }

  .transformative-results {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/1000x-blur.DM_z7KC6.png");
    background-position: 50% 93%;
    background-size: 340px;
  }

  .transformative-results-div {
    height: 178px;
    width: 270px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .transformative-results-div p {
    font-size: 15px;
  }

  .transformative-results-div .start-free-button-2 {
    margin-top: 5px;
    margin-left: -5px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .features-h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .features-h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
  }

  .workflow-collab-parsing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
    gap: 24px;
  }

  .workflows {
  height: 398px;
  width: 340px;
  }

  .workflows-div {
  width: 276px;
  }

  .collaboration {
  height: 398px;
  width: 340px;
  }

  .collaboration-div {
  width: 276px;
  }

  .parsing {
  height: 398px;
  width: 340px;
  }

  .parsing-div {
  width: 276px;
  }


  .comparison-h1 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .comparison-h2 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
  }

  .integrations-h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .before-after-chatsheet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
  }

  .before-chatsheet {
    height: 398px;
    width: 340px;
  }

  .before-chatsheet-div {
    width: 334px;
    margin-left: 15px;
    margin-top: 330px;
  }

  .after-chatsheet {
    height: 398px;
    width: 340px;
  }

  .after-chatsheet-div {
    width: 334px;
    margin-left: 15px;
    margin-top: 330px;
  }

  .integrations-h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
  }

  .use-cases-h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: -10px;
  }

  .use-cases-h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
  }

  .sales-automation {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/generate-outreach.B1qTsFWI.png");
    background-position: 50% 93%;
    background-size: 340px;
  }

  .sales-automation-div {
    height: 178px;
    width: 310px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .sales-automation-div p {
    font-size: 15px;
  }

  .sales-automation-div .start-free-button-2 {
    margin-top: 0px;
    margin-left: -5px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .content-document {
    display: flex;
    flex-direction: column;
  }

  .content-creation {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/content-creation.B2RtZ-PZ.png");
    background-position: 50% 80%;
    background-size: 340px;
  }

  .content-creation-div {
    height: 178px;
    width: 320px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .content-creation-div p {
    font-size: 15px;
  }

  .document-processing {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/doc-processing.DlQXzPRv.png");
    background-position: 50% 70%;
    background-size: 340px;
  }

  .document-processing-div {
    height: 178px;
    width: 270px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .document-processing-div p {
    font-size: 15px;
  }

  .research {
    height: 398px;
    width: 340px;
    background-image: url("https://dev.tryecho.ai/_app/immutable/assets/automate-any-task-2x.C_u6705b.png");
    background-position: 50% 93%;
    background-size: 340px;
  }

  .research-div {
    height: 178px;
    width: 310px;
    margin-top: 32px;
    margin-left: 22px;
  }

  .research-div p {
    font-size: 15px;
  }

  .research-div .start-free-button-2 {
    margin-top: -15px;
    margin-left: -5px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }


  .social-media {
    max-width: 390px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* gap: 1rem;gap: 1rem; */
    margin-left: auto;
    margin-right: auto;
  }

  .faqs-ans {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: flex-start;
    /* Align children at the top */
    justify-content: space-between;
    gap: 24px;
    max-width: 1296px;
  }

  .paragraph-1 {
    color: #9CA3AF;
    font-size: 14.5px;
    height: 21px;
    font-weight: 549.9;
    text-align: center;
  }

  .faqs h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .paragraph-2 {
    color: #9CA3AF;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .answer-btns {
    /*height: 296px;*/
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
  }

  .ans-button {
    display: flex;
    width: 342px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    text-align: left;
    transition: color 150ms;
    background: #0C0A09;
    border: 2px solid #161311;
    border-radius: 15px;
    cursor: pointer;
  }

  .ans-button-text {
    font-weight: 549;
    color: white;
    font-size: 17px;
    padding-right: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #0C0A09;
    border-radius: 0 0 15px 15px;
    padding: 0 10px;
    width: 342px;
  }

  .answer p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
    padding: 10px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  .hero-last {
    margin-top: 200px;
  }

  .hero-last-1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 650;
    margin-bottom: -10px;
  }


  .hero-last-2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 650;
  }


  .video-container-2 {
    width: 340.4px;
    height: 400.6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-radius: 15px;
  }


  footer {
    margin-top: 70px;
    max-width: 1296px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    padding: 50px 12px;
  }

  .link-group h3 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 549;
    margin-bottom: 1.5rem;
  }

  .link-group li {
    font-size: 15px;
    font-weight: 500;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-icons {
    margin-top: 10px;
  }

}